<a href="https://colab.research.google.com/github/Saiyyam24/deeplearning_practice_project/blob/main/customer_churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
muhammadshahidazeem_customer_churn_dataset_path = kagglehub.dataset_download('muhammadshahidazeem/customer-churn-dataset')

print('Data source import complete.')

Using Colab cache for faster access to the 'customer-churn-dataset' dataset.
Data source import complete.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/customer-churn-dataset/customer_churn_dataset-testing-master.csv
/kaggle/input/customer-churn-dataset/customer_churn_dataset-training-master.csv

In [ ]:
import pandas as pd

In [ ]:
df_test = pd.read_csv("/kaggle/input/customer-churn-dataset/customer_churn_dataset-testing-master.csv")

In [ ]:
df_test

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370,45,Female,33,12,6,21,Basic,Quarterly,947,14,1
64370,64371,37,Male,6,1,5,22,Standard,Annual,923,9,1
64371,64372,25,Male,39,14,8,30,Premium,Monthly,327,20,1
64372,64373,50,Female,18,19,7,22,Standard,Monthly,540,13,1
64373,64374,52,Female,45,15,9,25,Standard,Monthly,696,22,1

In [ ]:
df_train.info()

NameError: name 'df_train' is not defined

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64374 entries, 0 to 64373
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         64374 non-null  int64
 1   Age                64374 non-null  int64
 2   Gender             64374 non-null  object
 3   Tenure             64374 non-null  int64
 4   Usage Frequency    64374 non-null  int64
 5   Support Calls      64374 non-null  int64
 6   Payment Delay      64374 non-null  int64
 7   Subscription Type  64374 non-null  object
 8   Contract Length    64374 non-null  object
 9   Total Spend        64374 non-null  int64
 10  Last Interaction   64374 non-null  int64
 11  Churn              64374 non-null  int64
dtypes: int64(9), object(3)
memory usage: 5.9+ MB

In [ ]:
df_test.duplicated().sum()

np.int64(0)

In [ ]:
df_test['Churn'].value_counts()

Churn
0    33881
1    30493
Name: count, dtype: int64

In [ ]:
df_train = pd.read_csv("/kaggle/input/customer-churn-dataset/customer_churn_dataset-training-master.csv")

In [ ]:
df_train.duplicated().sum()

np.int64(0)

In [ ]:
df_train

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [ ]:
df_train.drop(columns=['CustomerID'],inplace=True)

In [ ]:
df_train

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
440828,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [ ]:
df_train = pd.get_dummies(df_train,columns=['Gender','Subscription Type','Contract Length'],drop_first=True)

In [ ]:
df_train

,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn,Gender_Male,Subscription Type_Premium,Subscription Type_Standard,Contract Length_Monthly,Contract Length_Quarterly
0,30.0,39.0,14.0,5.0,18.0,932.00,17.0,1.0,False,False,True,False,False
1,65.0,49.0,1.0,10.0,8.0,557.00,6.0,1.0,False,False,False,True,False
2,55.0,14.0,4.0,6.0,18.0,185.00,3.0,1.0,False,False,False,False,True
3,58.0,38.0,21.0,7.0,7.0,396.00,29.0,1.0,True,False,True,True,False
4,23.0,32.0,20.0,5.0,8.0,617.00,20.0,1.0,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
440828,42.0,54.0,15.0,1.0,3.0,716.38,8.0,0.0,True,True,False,False,False
440829,25.0,8.0,13.0,1.0,20.0,745.38,2.0,0.0,False,True,False,False,False
440830,26.0,35.0,27.0,1.0,5.0,977.31,9.0,0.0,True,False,True,False,True
440831,28.0,55.0,14.0,2.0,0.0,602.55,2.0,0.0,True,False,True,False,True
440832,31.0,48.0,20.0,1.0,14.0,567.77,21.0,0.0,True,True,False,False,True

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(df_train.drop(columns=['Churn']),df_train['Churn'],test_size=0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler_train = scaler.fit_transform(X_train)

In [ ]:
scaler_train

array([[-0.67189048,  1.66573772, -0.79233226, ...,  1.39790787,
        -0.49567996,  1.22244282],
       [-1.47583357, -0.65258846, -0.09346997, ...,  1.39790787,
        -0.49567996, -0.81803417],
       [ 0.61441846, -1.23217   ,  1.18777757, ..., -0.71535472,
        -0.49567996,  1.22244282],
       ...,
       [-0.18952463, -1.29012816, -1.37471751, ..., -0.71535472,
         2.01743076, -0.81803417],
       [-0.51110186, -0.24688138, -1.25824046, ..., -0.71535472,
        -0.49567996, -0.81803417],
       [ 0.9359957 ,  1.4339051 ,  1.18777757, ...,  1.39790787,
        -0.49567996, -0.81803417]])

In [ ]:
scaler_test = scaler.transform(X_test)

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()

model.add(Dense(3,activation='sigmoid',input_dim=12))
model.add(Dense(1,activation='sigmoid'))

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                 │ (None, 3)              │            39 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 43 (172.00 B)

 Trainable params: 43 (172.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:
scaler_train.shape

(352666, 12)

In [ ]:
y_train.shape

(352666,)

In [ ]:
import numpy as np

print("X NaN:", np.isnan(X_clean).sum())
print("X Inf:", np.isinf(X_clean).sum())

print("y NaN:", np.isnan(y_clean).sum())
print("y Inf:", np.isinf(y_clean).sum())

print("y unique:", np.unique(y_train))

X NaN: 0
X Inf: 0
y NaN: 0
y Inf: 0
y unique: [ 0.  1. nan]

In [ ]:
import numpy as np

mask = ~(
    np.isnan(scaler_train).any(axis=1) |
    np.isnan(y_train)
)

X_clean = scaler_train[mask]
y_clean = y_train[mask]

print(X_clean.shape, y_clean.shape)

(352665, 12) (352665,)

In [ ]:
print("X min:", X_clean.min())
print("X max:", X_clean.max())

X min: -2.2072141533656775
X max: 2.0834043087979492

In [ ]:
model.compile(optimizer='Adam',loss='binary_crossentropy')

In [ ]:
model.fit(X_clean,y_clean,epochs=5)

Epoch 1/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 27s 2ms/step - loss: 0.3269
Epoch 2/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 22s 2ms/step - loss: 0.1826
Epoch 3/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 22s 2ms/step - loss: 0.1649
Epoch 4/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 21s 2ms/step - loss: 0.1555
Epoch 5/5
11021/11021 ━━━━━━━━━━━━━━━━━━━━ 22s 2ms/step - loss: 0.1418

In [ ]:
model.layers[0].get_weights()

[array([[-0.10248361,  3.4402678 ,  2.0904553 ],
        [-0.02934077,  0.06908296, -0.05988038],
        [-0.03487268,  0.04830464, -0.10444399],
        [-0.14943168, -7.1998897 ,  0.15143324],
        [ 0.301082  , -0.43170965,  0.6327756 ],
        [-3.7054586 , -0.24381638,  0.35531846],
        [ 0.1639757 , -0.25585708,  0.36006778],
        [-0.16605411,  0.256283  , -0.35986933],
        [-0.02607516,  0.01395888, -0.04154913],
        [-0.02125444,  0.02490762, -0.03484748],
        [ 3.7554495 , -3.0055647 ,  3.3605669 ],
        [-0.01119475, -0.01063576,  0.01989229]], dtype=float32),
 array([-1.3558885,  0.440133 , -0.7411269], dtype=float32)]

In [ ]:
y_log = model.predict(scaler_test)

2756/2756 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step

In [ ]:
y_pred = np.where(y_log>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,y_pred)

0.9571041319314483